* {
    box-sizing: border-box;
}

body {
	font-family: 'Comic Sans MS';
    color: #262228;
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px 20px;
    text-align: center;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close-btn:hover {
    background-color: #f44336;
    color: white;
}

header {
    background-color: #0fab6f;
    padding: 15px;
}

#header-text {
    font-family: "Comic sans MS";
    font-size: 60px;
    color: #262228;
    padding-left: 70px;
}

#enter-task-div, .task-table-div {
    margin: 15px;
}

.task-input {
    font-size: 20px;
    height: 35px;
}

#goal-input {
    width: 200px;
}

#next-action-input {
    width: 400px;
}

.add-btn {
    padding: 5px 15px 5px 15px;
    background: #d9d9d9;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    user-select: none;
}

.add-btn:hover {
    background-color: #bbb;
}