* {
    box-sizing: border-box;
    font-family: "Comic sans MS";
}

body {
    color: #262228;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px 20px;
    text-align: center;
}

#task-table {
    width: 1000px;
}

/* Task table headers */
#progress-th {
    width: 10%;
}

#goal-th {
    width: 15%;
}

#next-action-th {
    width: 50%;
}

#time-th {
    width: 10%;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close-btn:hover {
    background-color: #f44336;
    color: white;
}

header {
    background-color: #0fab6f;
    padding: 5px;
}

#header-text {
    font-size: 60px;
    color: #262228;
    padding-left: 70px;
}

#enter-task-div, .task-table-div {
    margin: 15px;
}

#enter-task-div {
    border-radius: 25px;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;
}

.task-input {
    font-size: 20px;
    height: 35px;
}

#goal-input {
    width: 200px;
}

#next-action-input {
    width: 400px;
}

input, input:focus {
    border: 1px solid #999;
    outline: none;
}

.add-btn {
    padding: 5px 15px 5px 15px;
    background: #d9d9d9;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
    user-select: none;
}

.add-btn:hover {
    background-color: #bbb;
}

/* Progress dropdown options */
.progress-dropdown {
    height: 100%;
    width: 100%;
}

.to-do {
    background-color: #d9d9d9;
}

.in-progress {
    background-color: #ffe5a0;
}

.completed {
    background-color: #d4edbc;
}